*{
    color: #abb0b0;
    margin:0; padding:0;
}
body {
    background-color: #e6e6e6;
}

strong{
    font: 16px Verdana;
}

article footer{
    background-color: #f5f5f5;
    border: solid 1px #e9e8e8;
}

}
.side-info{
   text-align: right;
}

.comments{
    float: left;
    margin: 30px 0;
    background: #ffffff;
}

button{
    background-color: #9ab26b;
    color: #ffffff;
}
